/* tablet device */

@media screen and (max-width: 960px) {

    .online-games,
    .nav-container,
    .banner-container,
    .gamer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }

    .nav-container {
        padding-bottom: 20vh;
        height: 200px;
    }

    .gamer-img img {
        max-width: 55vh;
        justify-content: center;
        object-fit: contain;
    }

    .online-game-section {
        padding: 0;
    }

    .game-main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


/* mobile device */
@media (max-width: 576px) {

    .nav-container,
    .nav-items,
    .banner-container {
        flex-direction: column;
        width: auto;
        align-items: center;
    }

    .nav-container {
        padding-bottom: 40vh;
    }


    .banner-container {
        flex-direction: column-reverse;
        overflow: hidden;
        padding-top: 10vh;

    }

    .banner-container img {
        width: 50vh;
    }

    .gamer-section {
        flex-direction: column;
        overflow: hidden;
        background: none;
        align-items: center;
    }

    .gamer-img img {
        width: 55vh;
        justify-content: center;
        object-fit: contain;
    }

    .gamer-content {
        text-align: center;
    }


    .online-game-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .game-main-content {
        line-height: normal;
        line-break: normal;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .online-games {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;

    }

    .instant-play-section {
        display: flex;
        flex-direction: column;
       object-fit: cover;
    }
    .instant-play-img-1{
        width:30vh;
        height: 40vh;
        padding-left: 14px;
        padding-right: 14px;
    }

    .instant-play-text {
        margin-bottom: 40px;
        padding-top: 50px;
    }
    .icon-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        align-items: center;
    }

    .icon {
        font-size: 14px;
        gap: 5px;
    }

    .icon img {
        width: 35%;
    }
}