/* tablet device */

@media screen and (max-width: 960px) {

    .nav-container,
    .banner-container,
    .gamer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }

    .nav-container {
        padding-bottom: 20vh;
        height: 200px;
    }

    .gamer-img img {
        max-width: 55vh;
        justify-content: center;
        object-fit: contain;
    }
}


/* mobile device */
@media (max-width: 576px) {

    .nav-container,
    .nav-items,
    .banner-container {
        flex-direction: column;
        width: auto;
        align-items: center;
    }
    .nav-container{
        padding-bottom: 40vh;
    }


    .banner-container {
        flex-direction: column-reverse;
        overflow: hidden;
        padding-top: 10vh;

    }

    .banner-container img {
        width: 50vh;
    }
    /* gamer-section  */
    .gamer-section {
        flex-direction: column;
        overflow: hidden;
        background: none;
        align-items: center;
    }

    .gamer-img img {
        width: 55vh;
        justify-content: center;
        object-fit: contain;
    }

    .gamer-content {
        text-align: center;
    }
}